<nav id="topnav">
  <div style="width:70%">
    <a id="logo" class="nav-link" href="#">Crypto Blog</a>
    <a class="nav-link" href="#">Main</a>
    <a class="nav-link" href="/post-create">Create article</a>
  </div>

  <div style="width: 100%">
    <div style="float:right;  display:flex">
      <a id="about" class="nav-link " *ngIf="!authService.isLoggedIn" (click)="signIn()">Sign in</a>
      <a class="information" *ngIf="authService.isLoggedIn">Your address: {{authService.ethereum?.selectedAddress}}</a>
      <a class="information" *ngIf="authService.isLoggedIn">Your balance: {{authService.balance | number: '1.0-6'}}</a>
    </div>
  </div>
</nav>
